.root {
    user-select: none;
    display: inline-block;
    font-size: 24;
    overflow: hidden;
    flex-shrink: 0;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.colorPrimary {
    stroke: var(--color-primary);
    fill: var(--color-primary);
}

.colorSecondary {
    stroke: var(--color-secondary);
    fill: var(--color-secondary);
}

.colorSecondaryLight {
    stroke: var(--color-secondary-lightness);
    fill: var(--color-secondary-lightness);
}

.colorPrimaryDarkness {
    stroke: var(--color-primary-darkness);
    fill: var(--color-primary-darkness);
}

.colorWarn {
    stroke: var(--color-warning);
    fill: var(--color-warning);
}

.colorDanger {
    stroke: var(--color-danger);
    fill: var(--color-danger);
}

.colorTextPrimary {
    stroke: var(--color-white-90);
    fill: var(--color-white-90);
}

.colorTextSecondary {
    stroke: var(--color-secondary-lightness);
    fill: var(--color-secondary-lightness);
}

.colorGreenLight,
.colorOrangeLight {
    fill: url(#icon-component-gradient);
}
