@import '_core.scss';
/* 
* Aqui ficam os estilos básicos
* a última camada onde veremos seletores em tags diretamente.
*/

body {
    font-family: var(--font-family);
}

button {
    display: flex;
    background: transparent;
    cursor: pointer;
}