.root {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    transition: 0.2s ease-out;
    z-index: 99;
    overflow: auto;
}

.isSticky {
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(25, 27, 42, 1) 0%,
        rgba(25, 27, 42, 1) 71%,
        rgba(25, 27, 42, 0.1) 100%
    );
}
